.nav-slide-down{
	width: 100%;
	height: auto;
	min-height: 482px;
	position:relative;
	background:rgba(0,0,0,0.5);
	transition: background-color 1s;
	-moz-transition: background-color 1s;	/* Firefox 4 */
	-webkit-transition: background-color 1s;	/* Safari 和 Chrome */
	-o-transition: background-color 1s;
	color: #FFF;
	line-height: 40px;
}
.nav-slide-down ul{
	display: block;
	width: 200px;
	height: auto;
	vertical-align: middle;
	padding-top: 30px;
	float: left;
	padding-left: 70px;
}
